.alinhacentro {
    text-align: center;
}

img {
    width: 100%;
    transition: 0.5s;
}


/*//////////////////////////////////// PAGINA 1 //////////////////////////*/

.borderT {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*//////////////////////////////////// FIM PAGINA 1 //////////////////////////*/


/*//////////////////////////////////// PAGINA 2 //////////////////////////*/

.borderD {
    border: solid rgb(221, 221, 222) 1px;
    padding: 5px;
    margin: -10px;
    border-radius: 4px;
    transition: 0.5s;
}

#pag2 {
    margin-top: 50px;
}

.borderD:hover,
.fotos:hover {
    opacity: 0.8;
    transition: 0.5s;
    background: rgb(236, 236, 246);
}

.list-group {
    padding: 5px;
    margin: -14px;
}


/*//////////////////////////////////// FIM PAGINA 2 //////////////////////////*/


/*//////////////////////////////////// NAVBAR //////////////////////////*/

nav {
    background: black;
}

nav .nav-item {
    color: white;
    transition: 0.2s;
    font-weight: bold;
}

nav .nav-item:hover {
    background: #e5e5e5;
    color: grey;
    transition: 0.2s;
}

.navMobile {
    display: none;
}


/*//////////////////////////////////// FIM NAVBAR //////////////////////////*/


/*//////////////////////////////////// VISUAL DOS ICONES //////////////////////////*/

.icons {
    color: white;
}

i {
    padding-top: 5px;
    font-size: 160%;
    transition: 0.5s;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #c13584;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-snapchat-ghost:hover {
    color: #fffc00;
}


/*//////////////////////////////////// FIM VISUAL DOS ICONES //////////////////////////*/

@media only screen and (max-width: 1024px) {
    nav {
        height: 100%;
    }
    i {
        font-size: 120%;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 425px) {
    #pag2 {
        display: none;
    }
    #pag1 {
        width: 10px;
    }
    .navMobile {
        display: block;
    }
    .navDesktop {
        display: none;
    }
    i {
        font-size: 170%;
        padding-top: 10px;
        padding-right: 2%;
    }
    .nav1 {
        height: 50px;
    }
    .nav1 button {
        margin-top: -12px;
        margin-left: -16px;
        padding-right: 0px;
    }
}